#Home {
  scroll-margin-top: 6rem;
}

#AboutMe {
  scroll-margin-top: 5rem;
}

#Skills {
  scroll-margin-top: 5rem;
}

#Projects {
    scroll-margin-top: 5rem;
}

#Academics{
  scroll-margin-top: 5rem;
}